/* GLOBAL */
@charset "UTF-8";
@font-face {font-display: block; font-family: "Standard"; src: url("https://jjmoi.com/fonts/standard-book.woff") format("woff"); font-style: normal; font-weight: normal;}
@font-face {font-display: block; font-family: "Standard"; src: url("https://jjmoi.com/fonts/standard-bold.woff") format("woff"); font-style: normal; font-weight: bold;}
body {background-color: white; padding-top: 100px; margin: 0;}

/* TYPOGRAPHY */
h1, h2, h3, p, a {font-family: Standard, sans-serif; font-weight: normal; margin: 0; padding: 0; color: black; font-size: 24px; line-height: 1.2;}
a {text-decoration: none;}
a:hover, h3 a:hover {color: black; cursor: url(http://www.jjmoi.com/files/mick-point3.png), default; text-decoration: underline;}
a:visited {color: black;}
#up {text-transform: uppercase;}

/* GRID */
#nav {padding-top: 0;}
#jjmoi {float: left;}
#info {float: right;}
.rapper {margin: 0 auto; padding: 5% 10%;}
#first {padding-top: 2%;}
.tag {padding-top: 10px;}
h2, .beat {padding-top: 40px;}
h2, h3, p {margin-bottom: 50px;}
h3 {padding-top: 30px;}
.kicks {padding-top: 10%;}
.boom {padding-top: 400px; padding-bottom: 300px;} /* quote */
.hook {position: fixed; top: 50%; left: 50%; z-index: -1; margin-top: -300px; margin-left: -450px;} /* img = h600 x w900 */
.dj {max-width: 900px;}
img {width: 100%; display: block; margin: 0 auto; padding-bottom: 80px;}

/* RESPONSIVE */
@media only screen and (max-width: 1350px) {
	body {padding-top: 50px;}
	.tag {padding-top: 5px;}
	.rapper {padding: 5% 10%;}
	#first {padding-top: 20%}
	h2, #beat {padding-top: 24px;}
	h2, h3, p {margin-bottom: 24px;}
}

@media only screen and (max-width: 900px) {
	body {padding-top: 50px;}
	.tag {padding-top: 0px;}
	.rapper {padding: 5%;}
	#first {padding-top: 25%}
	h2, #beat {padding-top: 24px;}
	h2, h3, p {margin-bottom: 24px;}
	.kicks {padding-top: 15%;}
}
