/* GLOBAL */
@charset "UTF-8";
@font-face {font-family: "suisse-intl";
	src:url("fonts/suisse-intl.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}
body {background-color: white; padding-top: 100px; margin: 0;}

/* TYPOGRAPHY */
h1, h2, h3, p, a {font-family: 'suisse-intl', sans-serif; font-weight: normal; margin: 0; padding: 0; color: black;}
h1, h2, p, a {font-size: 24px; line-height: 1.45;}
h3, h3 a {font-size: 54px; line-height: 1.2;}
a, h3 a {text-decoration: none;}
a:hover, h3 a:hover {color: black; cursor: url(http://www.jjmoi.com/files/mick-point3.png), default; text-decoration: underline;}
.boom {font-size: 82px; font-weight: 400; line-height: 1.2;} /* quotes */
#scratch {text-decoration: line-through;}

/* GRID */
#nav {padding-top: 0;}
#jjmoi {float: left;}
#info {float: right;}
.rapper {margin: 0 auto; padding: 5% 20%;}
h1 {padding-top: 100px;}
h2, .beat {padding-top: 40px;}
.kicks {padding-top: 10%;}
h2, h3, p {margin-bottom: 50px;}
.boom {padding-top: 400px; padding-bottom: 300px;} /* quote */
.verse a {position: relative;}
.verse a img {position: absolute; display: none;}
.verse a:hover img {display: block;}
.hook {position: fixed; top: 50%; left: 50%; z-index: -1; margin-top: -300px; margin-left: -450px;} /* img = h600 x w900 */
.dj {max-width: 800px;}
img {width: 100%; display: block; margin: 0 auto; padding-bottom: 80px;}

/* RESPONSIVE */
@media only screen and (max-width: 1400px) {
	body {padding-top: 50px;}
	h1, h2, h3, p, a, h3 a {font-size: 24px;}
	.rapper {padding: 5% 10%;}
	h2, #beat {padding-top: 25px;}
	h2, h3, p {margin-bottom: 25px;}
}

@media only screen and (max-width: 900px) {
	body {padding-top: 50px;}
	h1, h2, h3, p, a, h3 a {font-size: 20px;}
	.rapper {padding: 5%;}
	h2, #beat {padding-top: 25px;}
	h2, h3, p {margin-bottom: 25px;}
}
