/* UNIVERSAL */
@charset "UTF-8";
@font-face {font-display: block; font-family: "Standard"; src: url("https://jjmoi.com/fonts/standard-book.woff") format("woff"); font-style: normal; font-weight: normal;}
html, body {height: 100%; width: 100%; margin: 0; padding: 0;}
h1, h2, h3, p, a {font-family: Standard, sans-serif; font-weight: normal; margin: 0; padding: 0; color: black; font-size: 22px; line-height: 1.4;}
a {text-decoration: none; display: block;}
a:hover, a span:hover {color: black; cursor: url(http://www.jjmoi.com/files/mick-point3.png), default; text-decoration: underline;}
a:visited {color: black;}

/* GRID */
.container {width: 90%; margin-left: auto; margin-right: auto;}
.row {position: relative; width: 100%;}
.row [class^="col"] {float: left; min-height: 0.125rem;}
.row::after {content: ""; display: table; clear: both;}
.col-1, .col-1-sm {width: 10%;}
.col-2, .col-2-sm {width: 20%;}
.col-3, .col-3-sm {width: 30%;}
.col-4, .col-4-sm {width: 40%;}
.col-5, .col-5-sm {width: 50%;}
.col-6, .col-6-sm {width: 60%;}
.col-7, .col-7-sm {width: 70%;}
.col-8, .col-8-sm {width: 80%;}
.col-9, .col-9-sm {width: 90%;}
.col-10, .col-10-sm {width: 100%;}

/* STUFF */
.index .row {position: absolute; bottom: 60px; margin: 0 auto; width: 90%;}
.nav p, .nav a {padding-top: 60px; line-height: 0;}
.index p, .index a {margin: 0; padding: 32px 0; border-top: 2px black solid; line-height: 0;}
.index p:last-child, .index a:last-child {border-bottom: 2px black solid;}
.right {text-align: right;}
p+p {padding-top: 30px;}
/* INFO */
.parasection {margin-top: 100px; margin-bottom: 100px;}
.parasection img {width: 100%;}
.parasection a {display: inline-block;}
/* CASE STUDY */
#title, .quote p {font-size: 42px; line-height: 1.3;}
#subtitle {font-size: 22px; padding-top: 10px; padding-bottom: 75px;}
#launch {text-align: right;}
#launch a {padding-top: 4px;}
/* img {padding-top: 60px;} */
#endsection {padding-bottom: 100px;}
#credits {padding-bottom: 300px;}

/* RWD */
.desktop {display: block;}
.rwd-content {display: inline;}
.rwd {display: none;}

@media only screen and (max-width: 1500px) {
	.rwd-content {display: none;}
	h1, h2, h3, p, a {font-size: 16px;}
	p+p {padding-top: 24px; padding-bottom: 24px;}
	/* CASE STUDY */
	#title, .quote p {font-size: 32px;}
	#subtitle {font-size: 16px; padding-bottom: 30px;}
	#launch a {padding-top: 2px;}
}

@media only screen and (max-width: 1111px) {
	.desktop {display: none;}
	.rwd {display: block;}
	.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10 {width: 100%;}
	h1, h2, h3, p, a {line-height: 1.45;}
	.nav p, .nav a {padding-top: 30px;}
	/* img {padding-top: 36px;} */
	p+p {padding-top: 20px; padding-bottom: 20px;}
	/* HOME INDEX */
	.index .row {bottom: 0;}
	.index p, .index a {padding: 23px 0; border-top: 1.5px black solid;}
	.index p:last-child, .index a:last-child {border-bottom: none;}
	/* INFO */
	.parasection {margin-top: 60px;}
	/* CASE STUDY */
	#title, .quote p {font-size: 24px;}
	#subtitle {padding-bottom: 30px;}
	#launch {text-align: left;}
	#launch a {padding-top: 0x; padding-bottom: 30px;}
	#stackcolumn {padding-top: 36x;}
	#endsection {padding-bottom: 60px;}
	#credits {padding-bottom: 180px;}
}
