/*-----------------------------------------------------------------------------*/
/*  house keeping
/*-----------------------------------------------------------------------------*/

* {
	box-sizing: border-box;
}

img {
	width: 100%
}

/*-----------------------------------------------------------------------------*/
/*  nav
/*-----------------------------------------------------------------------------*/

nav {
	position: absolute;
	left: 0; 
  	right: 0; 
  	margin-inline: auto; 
	width: 100%;
	/* max-width: 1440px; */
	display: flex;
	padding: 2rem;
}

.logo {
	width: 7rem;
	z-index: 100;
}

#logo-ai {
	opacity: 1;
	transition: opacity 0.4s ease-in;
}

.logo:hover #logo-ai {
	opacity: 0;
	cursor: pointer;
}

#logo-laminar {
	opacity: 0;
	display: block;
	margin-top: -40px;
	transition: opacity 0.4s ease-in;
}

.logo:hover #logo-laminar {
	opacity: 1;
	cursor: pointer;
}

/*-----------------------------------------------------------------------------*/
/*  hero
/*-----------------------------------------------------------------------------*/

:root {
	--hero-height: 100vh; /* 70vh to display value props too */
}

.hero {
	width: 100%;
	height: var(--hero-height);
	overflow: hidden;
}

#fullscreen-video {
	width: 100%;
	height: 100%;
	z-index: -100;
	object-fit: cover;
}

#hero-text {
	position: relative;
	top: -100%;
	margin: 0 auto;
	display: flex;
	width: 100%;
	max-width: 1800px;
	height: var(--hero-height);
	justify-content: center;
	align-items: center;
}

#hero-text-wrapper {
	display: flex;
	width: 80%;
	flex-direction: column;
}

#hero-text-wrapper h1 {
	font-size: clamp(1rem, 11.7vw, 13.1rem);
	color: white;
}

.kern {
	letter-spacing: -0.1em;
}

#today {
	align-self: flex-end;
}

/* @media only screen and (min-width: 768px){
	#hero-text-wrapper {
		width: 90%;
	}
	
	#hero-text-wrapper h1 {
		font-size: clamp(1rem, 13.1vw, 14.8rem);
	}
} */

/*-----------------------------------------------------------------------------*/
/*  value props
/*-----------------------------------------------------------------------------*/

:root {
	--card-height: 30vh;
}

.value-propositions {
	margin: 0 auto;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.value-card {
	flex-grow: 1;
	height: var(--card-height);
	max-height: 25rem;
	padding: 0 10% 0 10%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.value-first, .value-last {
	border-top: solid black 1px;
	border-right: none;
	border-bottom: solid black 1px;
	border-left: none;
}

.value-card-content-wrapper {
	max-width: 23rem;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

@media only screen and (min-width: 768px){
	.value-propositions {
		flex-direction: row;
	}
	.value-card {
		padding: 2%;
		border-top: solid black 1px;
		border-bottom: solid black 1px;
	}
	.value-first {
		border-right: solid black 1px;
	}
	.value-last {
		border-left: solid black 1px;
	}
}

/*-----------------------------------------------------------------------------*/
/*  section headers
/*-----------------------------------------------------------------------------*/

.section-header {
	width: 100%;
	padding: 6rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-bottom: 1px black solid;
}

.shifted-text {
	margin-top: 2rem;
	width: 100%;
	max-width: 25rem;
	min-width: 17rem;
	display: flex;
	flex-direction: column;
}

.first-line {
	align-self: flex-start;
}

.shifted-line {
	align-self: flex-end;
}

.no-underline {
	border: none;
}

/* @media only screen and (min-width: 375px){
	.shifted-text {
		width: 25rem;
	}
} */

/*-----------------------------------------------------------------------------*/
/*  team
/*-----------------------------------------------------------------------------*/

.team {
	width: 100%;
	background-color: #f1f3fe;
}

.team-member {
	border-bottom: 1px black solid;
	padding: 2rem 1rem 2rem 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;
}

.member-title {
	margin-bottom: 1rem;
}

.member-bio {
	padding-left: 8%;
	padding-right: 4%rem;
}

.card-title, .member-title, h2 {
	font-size: 1.125rem
}

.team-bio-lead, .team-bio-follow {
	padding-top: 12px;
}

@media only screen and (min-width: 768px){
	.order-flip {
		flex: 1;
		order: 10;
	}
	.team-member {
		flex-direction: row;
		padding-top: 3rem;
		padding-bottom: 3rem;
	}
	.member-portrait {
		width: 50%;
		max-width: 25rem ;
	}
	.member-info {
		width: 50%;
		max-width: 35rem;
	}
}

@media only screen and (min-width: 1024px){
	.team-member {
		gap: 5rem;
		padding-top: 5rem;
		padding-bottom: 5rem;
	}
	.member-bio {
		padding-left: 14%;
	}
}

@media only screen and (min-width: 1440px){
	.team-member {
		padding-top: 8rem;
		padding-bottom: 8rem;
		gap: 8rem;
	}
}

/*-----------------------------------------------------------------------------*/
/*  investors
/*-----------------------------------------------------------------------------*/

.investor-row {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.investor-card {
	height: 7rem;
	border-top: none;
	border-bottom: none;
	flex: 1;
	flex-grow: 1;
	padding: 2rem;
	display: flex;
	justify-content: center;
	border-top: solid black 1px;
	border-bottom: solid black 1px;
	flex-direction: column;
}

.investor-first, .investor-last {
	border-right: none;
	border-bottom: none;
	border-left: none;
}

.investor-last {
	border-top: none;
	border-right: none;
	border-left: none;
}

.investor-card img {
	height: auto;
	width: 100%;
}

@media only screen and (min-width: 768px){
	.investor-row {
		flex-direction: row;
	}
	.investor-card {
		height: 15rem;
		padding: 5rem;
	}
	.investor-first {
		border-right: solid black 1px;
	}
	.investor-last {
		border-left: solid black 1px;
	}
}

/*-----------------------------------------------------------------------------*/
/*  contact
/*-----------------------------------------------------------------------------*/

.contact {
	display:flex;
	flex-direction: column;
	align-items: center;
	background-image: url("../img/contact.png");
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 800px;
}

.contact-description {
	padding: 10rem 1rem 0 1rem;
	width: 100%;
	max-width: 33rem;
	display: flex;
	flex-direction: column;
	color: white;
}

form {
	width: 100%;
	max-width: 25rem;
	padding: 0 1rem 0 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

form input {
	width: 100%;
	height: 3.75rem;
}

::-ms-input-placeholder { /* Edge 12-18 */
	color: gray;
}

::placeholder {
	color: gray;
}

form #email {
	margin-top: 80px;
	border-bottom: 1px black solid;
}

input[type=email], input[type=text] {
	padding-left: 20px;
}

input:focus {
	outline: none;
}

form #submit {
	margin-top: 40px;
	background: none;
	opacity: 1;
	border: 1px white solid;
	color: white;
	cursor: pointer;
	transition: background 0.4s ease-out;
}

form #submit:hover {
	background: white;
	opacity: 0.7;
	color: black;
}

/*-----------------------------------------------------------------------------*/
/*  footer
/*-----------------------------------------------------------------------------*/

footer {
	padding: 1.5rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

footer img {
	max-width: 7rem;
	margin-top: 40px;
}

footer a {
	display: block;
	text-align: right;
	color: black;
	transition: background 0.4s ease-out;
	margin-top: -45px;
	margin-bottom: 45px;
}

footer a:hover {
	color: gray;
}