

*, p, body, html {margin: 0; padding: 0;}

/* Containers
----------------------------------------------------------------------------------------------------*/
.container_8 {
	width: 100%;
	margin: 0 auto;
}

/* Grid >> Global
----------------------------------------------------------------------------------------------------*/

.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8,
.col_1, .col_2, .col_3, .col_4, .col_5, .col_6, .col_7, .col_8,
.col_23, .col_67, .col_1234, .col_5678, .col_34, .col_56, .col_234, .col_567,
.col_123, .col_678, .col_3456, .col_234567, .col_1234567, .col_2345678, .col_12, .col_78,
.col_3a, .col_3b
{
	display:inline;
	float: left;
	position: relative;
	margin-left: 0;
	margin-right: 0;
}

/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha {
	margin-left: 0;
}

.omega {
	margin-right: 0;
}

/* Grid >> 8 Columns
----------------------------------------------------------------------------------------------------*/


.container_8 .col_1 {width:9.5%;}
.container_8 .col_2 {width:11.5%;}
.container_8 .col_3 {width:24.5%;}
.container_8 .col_3a {width:12.25%;}
.container_8 .col_3b {width:12.25%;}
.container_8 .col_4 {width:4.5%;}
.container_8 .col_5 {width:4.5%;}
.container_8 .col_6 {width:24.5%;}
.container_8 .col_6a {width:12.25%;}
.container_8 .col_6b {width:12.25%;}
.container_8 .col_7 {width:11.5%;}
.container_8 .col_8 {width:9.5%;}

.container_8 .col_23 {width:36%;}
.container_8 .col_67 {width:36%;}

.container_8 .col_1234 {width:50%;}
.container_8 .col_5678 {width:50%;}

.container_8 .col_34 {width:29%;}
.container_8 .col_56 {width:29%;}
.container_8 .col_234 {width:40.5%;}
.container_8 .col_567 {width:40.5%;}
.container_8 .col_123 {width:45.5%;}
.container_8 .col_678 {width:45.5%;}

.container_8 .col_3456 {width:58%;}
.container_8 .col_234567 {width:81%;}

.container_8 .col_1234567 {width:90.5%;}
.container_8 .col_2345678 {width:90.5%;}

.container_8 .col_12 {width:21%;}
.container_8 .col_78 {width:21%;}
.container_8 .col_all {width:100%;}



/* Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

/* http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack */

.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}