html, body {
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	overflow-x:hidden;
}

/*///////////////////////////////////////////////*/

.skrollable {
	/*
	 * First-level skrollables are positioned relative to window
	 */
	position:fixed;

	/*
	 * Skrollables by default have a z-index of 100 in order to make it easy to position elements in front/back without changing each skrollable
	 */
	z-index:100;
}

/*
.skrollable.unrendered {
	display:none !important;
}
*/

.skrollable .skrollable {
	/*
	 * Second-level skrollables are positioned relative their parent skrollable
	 */
	position:absolute;
}

.skrollable .skrollable .skrollable {
	/*
	 * Third-level (and below) skrollables are positioned static
	 */
	position:static;
}

/*///////////////////////////////////////////////*/

#balloon-wrapper {
	width: 400px; height: 400px;
	margin-left: -200px; margin-top: -200px;
	z-index: 107;
}

#balloon {
	width: 200px; height: 300px;
	margin-left: 200px; margin-top: 200px;
	-webkit-transform-origin: 50% 50%;
  	-moz-transform-origin: 50% 50%;
  	-ms-transform-origin: 50% 50%;
  	-o-transform-origin: 50% 50%;
  	transform-origin: 50% 50%;
}

#bg-wrapper {
	width: 100%; height: 100%;
}

#car-wrapper {
	width: 400px; height: 400px;
	margin-left: -200px; margin-top: -200px;
	z-index: 101;
}

#car1 {
	width: 200px; height: 124px;
	margin: 0 auto;
	-webkit-transform-origin: 50% 50%;
  	-moz-transform-origin: 50% 50%;
  	-ms-transform-origin: 50% 50%;
  	-o-transform-origin: 50% 50%;
  	transform-origin: 50% 50%;
	z-index: 101;
}

#sidewalk-wrapper {
	width: 100%; height: 3200px;
	-webkit-transform-origin: 0% 50%;
  	-moz-transform-origin: 0% 50%;
  	-ms-transform-origin: 0% 50%;
  	-o-transform-origin: 0% 50%;
  	transform-origin: 0% 50%;
}
#sidewalk-wrapper img {width: 100%;}

#road-wrapper {
	width: 500px; height: 14000px;
	margin-left: -250px;
	-webkit-transform-origin: 0% 50%;
  	-moz-transform-origin: 0% 50%;
  	-ms-transform-origin: 0% 50%;
  	-o-transform-origin: 0% 50%;
  	transform-origin: 0% 50%;
}

#intro-wrapper {
	width: 720px; height: 383px;
	margin-left: -360px;
	-webkit-transform-origin: 0% 50%;
  	-moz-transform-origin: 0% 50%;
  	-ms-transform-origin: 0% 50%;
  	-o-transform-origin: 0% 50%;
  	transform-origin: 0% 50%;
  	z-index: 102;
}

#cloud img, #cone img {z-index: 104;}
#news img {z-index: 105;}

#source {
	width: 580px; height: 60px;
	margin-left: -290px;
	-webkit-transform-origin: 0% 50%;
  	-moz-transform-origin: 0% 50%;
  	-ms-transform-origin: 0% 50%;
  	-o-transform-origin: 0% 50%;
  	transform-origin: 0% 50%;
  	z-index: 102;
}