/*-----------------------------------------------------------------------------*/
/*  global
/*-----------------------------------------------------------------------------*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: 0;
}

html, body {
	height: 100%;
	font-family: helvetica, sans-serif;
	margin: 0;
}

/*-----------------------------------------------------------------------------*/
/*  grid
/*-----------------------------------------------------------------------------*/

.container, .all-device {width: 100%; margin-left: auto; margin-right: auto;}
.container.rwd {width: 100%;}
.row {position: relative; width: 100%;}
.row [class^="col"] {float: left; min-height: 0.125rem;}
.row::after {content: ""; display: table; clear: both;}
.col-1, .col-1-sm {width: 10%;}
.col-2, .col-2-sm {width: 20%;}
.col-25, .col-25-sm {width: 25%;}
.col-3, .col-3-sm {width: 30%;}
.col-33, .col-33-sm {width: 33.33%;}
.col-4, .col-4-sm {width: 40%;}
.col-5, .col-5-sm {width: 50%;}
.col-6, .col-6-sm {width: 60%;}
.col-7, .col-7-sm {width: 70%;}
.col-8, .col-8-sm {width: 80%;}
.col-9, .col-9-sm {width: 90%;}
.col-10, .col-10-sm {width: 100%;}

/*-----------------------------------------------------------------------------*/
/*  typography
/*-----------------------------------------------------------------------------*/

.dmmono-light {
	font-family: "DM Mono", monospace;
	font-weight: 300;
	font-style: normal;
}

.dmmono-regular {
	font-family: "DM Mono", monospace;
	font-weight: 400;
	font-style: normal;
}

.dmmono-medium {
	font-family: "DM Mono", monospace;
	font-weight: 500;
	font-style: normal;
}

h1, h2, h3, h4, p, a {
	font-family: "DM Mono", monospace;
	font-weight: 400;
	font-style: normal;
	font-size: 1rem;
}

a, a:hover, a:visited {
	color: black;
	text-decoration: none;
}

.uppercase {
	text-transform: uppercase;
}