
/*-----------------------------------------------------------------------------*/
/*  nav
/*-----------------------------------------------------------------------------*/

.logo {
	position: relative;
	top: -95%;
	margin-left: 80px;
	margin-right: 80px;
	}

.logo img {
	max-width: 120px;
}

#logo-ai {
	opacity: 1;
	transition: opacity 0.4s ease-in;
}

.logo-container:hover #logo-ai {
	opacity: 0;
	cursor: pointer;
}

#logo-blob {
	opacity: 0;
	display: block;
	margin-top: -40px;
	transition: opacity 0.4s ease-in;
}

.logo-container:hover #logo-blob {
	opacity: 1;
	cursor: pointer;
}

/*-----------------------------------------------------------------------------*/
/*  hero video
/*-----------------------------------------------------------------------------*/

#video-section {
	height: 100vh; /* Full viewport height */
}

#fullscreen-video {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#hero-text {
	position: relative;
	top: -80%;
	margin-left: 80px;
	margin-right: 80px;
}

h1 {
	font-size: 15rem;
	color: white;
}

.kern {
	letter-spacing: -20px;
}

#today {
	/*text-align: right;*/
	margin-top: -50px;
	padding-left: 800px;
}

/*-----------------------------------------------------------------------------*/
/*  value props
/*-----------------------------------------------------------------------------*/

.props-container {
	margin-top: -615px;
}

.props-container {
	border-bottom: 1px black solid;
}

.props-container .col-33 {
	border-right: 1px black solid;
	padding-top: 115px;
	padding-bottom: 115px;
}

.props-lastcol.col-33 {
	border-right: none;
}

.props-container p {
	padding-left: 80px;
	padding-right: 80px;
}

.props-desc {
	padding-top: 30px;
}

/*-----------------------------------------------------------------------------*/
/*  team
/*-----------------------------------------------------------------------------*/

.teamintro-container, .team-container {
	border-bottom: 1px black solid;
	background: #f1f3fe;
}
.teamintro-container {
	padding: 80px;
	text-align: center;
}

.teamintro-desc {
	padding-top: 30px;
}

.team-container img {
	max-width: 400px;
	margin-top: 100px;
	margin-bottom: 100px;
}

.team-name {
	padding: 80px 80px 40px 80px;
}

.team-bio {
	padding: 0 160px 80px 160px;
}

/*-----------------------------------------------------------------------------*/
/*  investors
/*-----------------------------------------------------------------------------*/

.investorsintro-container {
	border-bottom: 1px black solid;
	padding: 80px;
	text-align: center;
}

.investors-container {
	border-bottom: 1px black solid;
}

.investors-container img {
	max-width: 400px;
	display: block;
	margin: 0 auto;
}

.investors-container {
	border-bottom: 1px black solid;
}

.investors-container .col-33 {
	border-right: 1px black solid;
	padding-top: 115px;
	padding-bottom: 115px;
}

.investors-lastcol.col-33 {
	border-right: none;
}

/*-----------------------------------------------------------------------------*/
/*  contact
/*-----------------------------------------------------------------------------*/

.contact .col-10 {
	background-image: url("../img/contact.png");
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 800px;
}

.contact-desc {
	padding-top: 160px;
	text-align: center;
	color: white;
}

form input {
	margin: 0 auto;
	display: block;
	width: 400px;
	height: 60px;
}

::-ms-input-placeholder { /* Edge 12-18 */
	color: gray;
}

::placeholder {
	color: gray;
}

form #email {
	margin-top: 80px;
	border-bottom: 1px black solid;
}

input[type=email], input[type=text] {
	padding-left: 20px;
}

input:focus {
	outline: none;
}

form #submit {
	margin-top: 40px;
	background: none;
	opacity: 1;
	border: 1px white solid;
	color: white;
	cursor: pointer;
	transition: background 0.4s ease-out;
}

form #submit:hover {
	background: white;
	opacity: 0.7;
	color: black;
}

/*-----------------------------------------------------------------------------*/
/*  footer
/*-----------------------------------------------------------------------------*/

footer img {
	max-width: 120px;
	margin: 80px;
}

footer a {
	display: block;
	text-align: right;
	margin: 80px;
	color: black;
	transition: background 0.4s ease-out;
}

footer a:hover {
	color: gray;
}

/*-----------------------------------------------------------------------------*/
/*  responsive design
/*-----------------------------------------------------------------------------*/

@media only screen and (max-width: 1400px) {
	h1 {font-size: 10rem;}
	.props-container {margin-top: -300px;}
	#today {padding-left: 500px;}
}

@media only screen and (max-width: 800px) {
	h1 {font-size: 4rem;}
	.logo img {max-width: 60px;}
	#hero-text {top: -65%;}
	.kern {letter-spacing: -10px;}
	#today {margin-top: -20px; padding-left: 150px;}
	.col-1, .col-2, .col-25, .col-3, .col-33, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10 {width: 100%;}
	.props-container {margin-top: -200px;}
}
