<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Plangular</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="plangular.css"/>
  <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,700' rel='stylesheet' type='text/css'>

  <script src="http://connect.soundcloud.com/sdk.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular.min.js"></script>
  <script src="plangular.js"></script>

</head>
<body ng-app="plangular">
  <section class="mb4 float-up anim-delay-4">

<!-- song 1 -->
    <article plangular data-src="'http://soundcloud.com/jxnblk/dusty-closet'" class="grid-1 media mb4 ">
        <div class="img sq64 sq64-text">
          <a href="" ng-click="player.play(track)" ng-hide="player.playing == track" class="db btn-green">
            <i class="icon-play db h3 anim-popin"></i>
          </a>
          <a href="" ng-click="player.pause()" ng-show="player.playing == track" class="db btn-green">
            <i class="icon-pause db h3 anim-popin"></i>
          </a>
        </div>
        <div class="bd hi64 pos-rel white bg-dark-gray">
          <div class="pos-abs top bottom left bg-green" style="width: {{ (currentTime / duration) * 100 }}%"></div>
          <div class="pos-abs top left ml1">
            <p class="mt-5 lh1">{{ track.user.username }}</p>
            <h1 class="h3 reg ">{{ track.title }}</h1>
          </div>
          <div class="pos-abs fill" ng-click="seekTo($event)"></div>
        </div>
      </article>

<!-- song 2 -->
    <article plangular data-src="'http://soundcloud.com/jxnblk/everything-you-do-to-me'" class="grid-1 media mb4 ">
        <div class="img sq64 sq64-text">
          <a href="" ng-click="player.play(track)" ng-hide="player.playing == track" class="db btn-green">
            <i class="icon-play db h3 anim-popin"></i>
          </a>
          <a href="" ng-click="player.pause()" ng-show="player.playing == track" class="db btn-green">
            <i class="icon-pause db h3 anim-popin"></i>
          </a>
        </div>
        <div class="bd hi64 pos-rel white bg-dark-gray">
          <div class="pos-abs top bottom left bg-green" style="width: {{ (currentTime / duration) * 100 }}%"></div>
          <div class="pos-abs top left ml1">
            <p class="mt-5 lh1">{{ track.user.username }}</p>
            <h1 class="h3 reg">{{ track.title }}</h1>
          </div>
          <div class="pos-abs fill" ng-click="seekTo($event)"></div>
        </div>
      </article>

<!-- song 3 -->
    <article plangular data-src="'http://soundcloud.com/mrsjxn/touch-this'" class="grid-1 media mb4 ">
        <div class="img sq64 sq64-text">
          <a href="" ng-click="player.play(track)" ng-hide="player.playing == track" class="db btn-green">
            <i class="icon-play db h3 anim-popin"></i>
          </a>
          <a href="" ng-click="player.pause()" ng-show="player.playing == track" class="db btn-green">
            <i class="icon-pause db h3 anim-popin"></i>
          </a>
        </div>
        <div class="bd hi64 pos-rel white bg-dark-gray">
          <div class="pos-abs top bottom left bg-green" style="width: {{ (currentTime / duration) * 100 }}%"></div>
          <div class="pos-abs top left ml1">
            <p class="mt-5 lh1">{{ track.user.username }}</p>
            <h1 class="h3 reg ">{{ track.title }}</h1>
          </div>
          <div class="pos-abs fill" ng-click="seekTo($event)"></div>
        </div>
      </article>

<!-- music player -->
      <article plangular data-src="'https://soundcloud.com/jxnblk/sets/march-on'" class="grid-1 mb2 bd bg-light-gray rounded">
        <div class="pad1 bd">
          <div class="center">
            <div class="dib">
              <a href="" ng-click="player.previous(playlist)" class="fl mr1 dark-gray"><i class="icon-previous p tappad anim-popin"></i></a>
              <a href="" ng-click="player.playPlaylist(playlist)" ng-hide="player.tracks == playlist.tracks && player.playing" class="fl dark-gray"><i class="icon-play h2 tappad anim-popin"></i></a>
              <a href="" ng-click="player.pause()" ng-show="player.tracks == playlist.tracks && player.playing" class="fl dark-gray"><i class="icon-pause h2 tappad anim-popin"></i></a>
              <a href="" ng-click="player.next(playlist)" class="fl ml1 dark-gray"><i class="icon-skip p tappad anim-popin"></i></a>
            </div>
          </div>
          <div class="bd mb1">
            <progress value="{{ currentTime / duration }}" ng-click="seekTo($event)" class="mt1 progress progress-gray progress-gray-alt w100">{{ currentTime / duration}}</progress>
          </div>
      </article>

  </section>
 
</body>
</html>