body {
  overflow: hidden;
  font-family: Helvetica, Arial, sans-serif;
}
svg {
  background: #333;
}
svg .land {
  fill: #383838;
  stroke: #999;
  stroke-width: 0.1;
}
svg .strike {
  fill: #29e5ac;
  opacity: 0.8;
}
svg .strike:hover {
  opacity: 1;
}
.tooltip {
  position: absolute;
  border: 1px #eee solid;
  border-radius: 3px;
  padding: 8px 10px;
  color: #333;
  font-size: 14px;
  background: #eee;
  pointer-events: none;
}
.tooltip strong {
  font-weight: 600;
}
.hidden {
  opacity: 0;
}
.tooltip .years {
  padding-top: 5px;
  font-size: 11px;
  color: #666;
}
