/* UNIVERSAL */
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;400;800&display=swap');

html {background-color: #268BFF;}
body {height: auto; background-color: white;}
html, body {height: 100%; width: 100%; margin: 0; padding: 0;}
h1, h2, h3, h4, p, a {font-family: 'League Spartan', sans-serif; font-weight: normal; margin: 0; padding: 0; color: black; font-size: 16px; line-height: 1.45;}
a {text-decoration: none; display: block;}
a:hover, a span:hover {color: black; text-decoration: none;}
a:visited {color: black;}

/* TYPOGRAPHY */
.center {text-align: center;}
h1 {font-size: 58px; font-weight: 200;}
h2 {font-size: 28px; font-weight: 200;}
h3 {font-weight: 800;}
h4 {font-weight: 800;}
p {font-weight: 400;}
a {font-weight: 800;}

.col-33 {background-color: white; box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px; transition: 0.35s;}
.col-33:hover {background-color: #268BFF;}
.right {text-align: right;}

/* GRID */
.container {width: 100%; margin-left: auto; margin-right: auto;}
.container.rwd {width: 92%;}
.row {position: relative; width: 100%;}
.row [class^="col"] {float: left; min-height: 0.125rem;}
.row::after {content: ""; display: table; clear: both;}

.col-1, .col-1-sm {width: 5%;}
.col-2, .col-2-sm {width: 10%;}
.col-3, .col-3-sm {width: 15%;}
.col-4, .col-4-sm {width: 20%;}
.col-5, .col-5-sm {width: 25%;}
.col-6, .col-6-sm {width: 30%;}
.col-7, .col-7-sm {width: 35%;}
.col-8, .col-8-sm {width: 40%;}
.col-9, .col-9-sm {width: 45%;}
.col-10, .col-10-sm {width: 50%;}
.col-11, .col-11-sm {width: 55%;}
.col-12, .col-12-sm {width: 60%;}
.col-13, .col-13-sm {width: 65%;}
.col-14, .col-14-sm {width: 70%;}
.col-15, .col-15-sm {width: 75%;}
.col-16, .col-16-sm {width: 80%;}
.col-17, .col-17-sm {width: 85%;}
.col-18, .col-18-sm {width: 90%;}
.col-19, .col-19-sm {width: 95%;}
.col-20, .col-20-sm {width: 100%;}

.col-66, .col-66-sm {width: 9.165%} /* 1.83col  */
.col-33, .col-33-sm {width: 23.333%} /* 4.66col */

/* STUFF */

/* INFO */
.parasection {margin-top: 100px; margin-bottom: 100px;}
.parasection a {display: inline-block;}

/* RWD */
.desktop {display: block;}
.rwd {display: none;}

@media only screen and (max-width: 1500px) {
}

@media only screen and (max-width: 1111px) {
	.desktop {display: none;}
	.rwd {display: block;}
	.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-13, .col-14, .col-15, .col-16, .col-17, .col-18, .col-19, .col-20, .col-33 {width: 100%;}
}