/* font-face */
@font-face {
  font-family: "OpenGovIcon";
  src: url("../fonts/opengovicon.eot");
  src: url("../fonts/opengovicon.ttf") format("truetype"), url("../fonts/opengovicon.eot?#iefix") format("embedded-opentype"), url("../fonts/opengovicon.woff") format("woff"), url("../fonts/opengovicon.svg#opengovicon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class*="opengovicon-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
}

[class*="opengovicon-"]:before {
  font-family: "OpenGovIcon";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
}

/* icons */
.opengovicon-settings:before {content: "\f000";}
.opengovicon-heart:before {content: "\f001";}
.opengovicon-star:before {content: "\f002";}
.opengovicon-add:before {content: "\f003";}
.opengovicon-minus:before {content: "\f004";}
.opengovicon-checkmark:before {content: "\f005";}
.opengovicon-remove:before {content: "\f006";}
.opengovicon-mail:before {content: "\f007";}
.opengovicon-calendar:before {content: "\f008";}
.opengovicon-page:before {content: "\f009";}
.opengovicon-tools:before {content: "\f00a";}
.opengovicon-globe:before {content: "\f00b";}
.opengovicon-home:before {content: "\f00c";}
.opengovicon-quote:before {content: "\f00d";}
.opengovicon-people:before {content: "\f00e";}
.opengovicon-monitor:before {content: "\f00f";}
.opengovicon-laptop:before {content: "\f010";}
.opengovicon-phone:before {content: "\f011";}
.opengovicon-cloud:before {content: "\f012";}
.opengovicon-error:before {content: "\f013";}
.opengovicon-right-arrow:before {content: "\f014";}
.opengovicon-left-arrow:before {content: "\f015";}
.opengovicon-up-arrow:before {content: "\f016";}
.opengovicon-down-arrow:before {content: "\f017";}
.opengovicon-trash:before {content: "\f018";}
.opengovicon-add-doc:before {content: "\f019";}
.opengovicon-edit:before {content: "\f01a";}
.opengovicon-lock:before {content: "\f01b";}
.opengovicon-unlock:before {content: "\f01c";}
.opengovicon-refresh:before {content: "\f01d";}
.opengovicon-paper-clip:before {content: "\f01e";}
.opengovicon-video:before {content: "\f01f";}
.opengovicon-photo:before {content: "\f020";}
.opengovicon-graph:before {content: "\f021";}
.opengovicon-idea:before {content: "\f022";}
.opengovicon-mic:before {content: "\f023";}
.opengovicon-cart:before {content: "\f024";}
.opengovicon-address-book:before {content: "\f025";}
.opengovicon-compass:before {content: "\f026";}
.opengovicon-flag:before {content: "\f027";}
.opengovicon-location:before {content: "\f028";}
.opengovicon-clock:before {content: "\f029";}
.opengovicon-folder:before {content: "\f02a";}
.opengovicon-inbox:before {content: "\f02b";}
.opengovicon-website:before {content: "\f02c";}
.opengovicon-smiley:before {content: "\f02d";}
.opengovicon-search:before {content: "\f02e";}
.opengovicon-datasheet:before {content: "\f02f";}
.opengovicon-bundles:before {content: "\f030";}
.opengovicon-ledger:before {content: "\f031";}
.opengovicon-plus:before {content: "\f032";}
.opengovicon-close:before {content: "\f033";}
.opengovicon-view:before {content: "\f034";}
.opengovicon-question:before {content: "\f035";}
.opengovicon-user:before {content: "\f036";}
.opengovicon-font-size:before {content: "\f037";}
.opengovicon-data:before {content: "\f038";}
.opengovicon-opengov1:before {content: "\f039";}
.opengovicon-opengov2:before {content: "\f03a";}
.opengovicon-funnel:before {content: "\f03b";}
.opengovicon-info:before {content: "\f03c";}
.opengovicon-download:before {content: "\f03d";}
.opengovicon-share:before {content: "\f03e";}
.opengovicon-ask:before {content: "\f03f";}
.opengovicon-facebook:before {content: "\f040";}
.opengovicon-google-plus:before {content: "\f041";}
.opengovicon-twitter:before {content: "\f042";}
.opengovicon-email:before {content: "\f043";}
.opengovicon-table2:before {content: "\f044";}
.opengovicon-bar-graph2:before {content: "\f045";}
.opengovicon-pie2:before {content: "\f046";}
.opengovicon-stack2:before {content: "\f047";}
.opengovicon-line2:before {content: "\f048";}
.opengovicon-stack-pct2:before {content: "\f049";}
.opengovicon-stack-pct:before {content: "\f04a";}
.opengovicon-stack:before {content: "\f04b";}
.opengovicon-line:before {content: "\f04c";}
/* there is no f04d */
.opengovicon-pie:before {content: "\f04e";}
.opengovicon-bar-graph:before {content: "\f04f";}
.opengovicon-table:before {content: "\f050";}
.opengovicon-tables:before {content: "\f051";}
.opengovicon-img:before {content: "\f052";}
.opengovicon-pdf-document:before {content: "\f053";}
.opengovicon-upload:before {content: "\f054";}