/* global */

body {background: #eee;}

/* content */

header {height: 100vh; padding-top: 40px; box-sizing: border-box; background-position: center; background-repeat: no-repeat; background-size: cover; border: 0; color: white;}
#header-home {background-image: url('../img/header-geo.png');}
#header-home-mt {background-image: url('../img/header-mt.png');}
header h1 {margin-top: 50px; font-weight: bold;}
p.dyno-definition {font-size: 0.65rem; margin-top: 60px;}

.content-home {margin-top: 200px;}
.content-home h2, .content-home h3 {font-weight: bold;}
.content-home p {padding-top: 17px;}
.content-home p + p {padding-top: 25px;}
.content-home + .content-home {margin-top: 150px;}

#job-desc .row [class^="col"] {margin: 8px 1%;}
#job-desc .row + .row {margin-top: 50px;}
#job-desc h3 {margin: 0; padding: 35px;}
#job-desc p {font-size: 0.7rem; color: #9f9f9f; padding: 155px 35px 20px 35px;}

#job-desc #job-row1 {
	border: 1px solid transparent;
	border-collapse: collapse;
	background-clip: padding-box, border-box;
	background-origin: padding-box, border-box;
	background-image: linear-gradient(#eee, #eee), linear-gradient(-45deg, #f8c4a0, #ed2040);
	cursor: pointer;
}

#job-desc #job-row2 {
	border: 1px solid transparent;
	border-collapse: collapse;
	background-clip: padding-box, border-box;
	background-origin: padding-box, border-box;
	background-image: linear-gradient(#eee, #eee), linear-gradient(-45deg, #75cdea, #f8c4a0);
	cursor: pointer;
}

#job-desc #job-row1:hover {box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.15); background-image: linear-gradient(#eee, #eee), linear-gradient(-45deg, #f8c4a0, #ed2040);}
#job-desc #job-row2:hover {box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.15); background-image: linear-gradient(#eee, #eee), linear-gradient(-45deg, #75cdea, #f8c4a0);}

/* action */

.action {margin-top: 50px;}
.action h2 {
	background: linear-gradient(to right, #f9ad8b 0%, #a786f9 100%);
	-webkit-background-clip: text; background-clip: text;
	-webkit-text-fill-color: transparent; text-fill-color: transparent;
	padding: 150px 0 40px 0;
}

/* buttons */

.action a, .content-solutions a, #whoweare a, .content-product a, .prev-next a, .media-category a {
	display: inline-block;
	position: relative;
	text-decoration: none;
	font-size: 1.125rem;
	margin-top: 50px;
	padding-bottom: 10px;
	color: black;
	font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
	-moz-font-feature-settings:'aalt=0,case=0,frac=0,liga=0,lnum=0,locl=0,onum=0,ordn=0,pnum=0,ss01=0,ss02=0,ss03=0,ss04=0,ss05=0,ss06=0,ss08=0,tnum=0,zero=0';
	font-weight: bold;
	line-height: 1.5;
}

.overlay-content a {
	padding: 15px;
	text-decoration: none;
	font-size: 2rem;
	color: white;
	opacity: 0.7;
	display: block;
	font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
	-moz-font-feature-settings:'aalt=0,case=0,frac=0,liga=0,lnum=0,locl=0,onum=0,ordn=0,pnum=0,ss01=0,ss02=0,ss03=0,ss04=0,ss05=0,ss06=0,ss08=0,tnum=0,zero=0';
	font-weight: bold;
	max-width: 300px;
	margin: 0 auto;
}

.overlay-content a:hover {opacity: 1; transition: opacity 0.2s ease-in 0.1s;}

.action a:after, .content-solutions a:after,  #whoweare a:after, .content-product a:after, .prev-next a:after, .media-inactive a:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 3px;
	bottom: 0;
	left: 0;
	background: linear-gradient(to right, #f9ad8b 0%, #a786f9 100%);
	transform: scaleX(0);
	transform-origin: bottom right;
	transition: transform 0.2s;
}

.action a:hover:after, .content-solutions a:hover:after, #whoweare a:hover:after, .content-product a:hover:after, .prev-next a:hover:after, .media-inactive a:hover:after {
	transform-origin: bottom left;
	transform: scaleX(1);
}

.content-home a, .content-home a:visited {color: black;}
.content-home #email-link:hover {opacity: 0.5;}

/* footer */

#footer-desktop, .dyno-definition-desktop {display: block;}
#footer-rwd, .dyno-definition-rwd {display: none;}

footer {
	background: #222;
	padding-top: 150px;
	padding-bottom: 150px;
	margin-top: 200px;	
}

footer .footer-logo {
	margin-top: 1px;
	padding-top : 0;
	padding-bottom: 10px;
	opacity: 0.7;
}

#footer-desktop p, #footer-rwd p {color: #aaa; font-size: 0.25rem; margin-top: 2px;}

/* responsive 1200, 960, 720, 540 */

@media only screen and (max-width: 1200px) {
	#header-home-mt h1 {font-size: 2rem;}
	.content-home h2 {font-size: 1.5rem; margin-top: 0; padding-top: 32px;}
	#job-desc .row [class^="col"] {margin: 8px 2%;}
	#job-desc .col-4 {width: 96%;}
	#job-desc h3 {font-size: 1.125rem; padding: 30px 30px 0 30px;}
	#job-desc p {padding: 0 30px 10px 30px;}
	#job-desc .row + .row {margin-top: 0;}
}

@media only screen and (max-width: 720px) {
	header img {width: 150px;}
	#header-home-mt h1 {font-size: 2.5rem;}
	p, .content-home a {font-size: 0.875rem; line-height: 1.5;}
	p.dyno-definition {font-size: 0.5rem; margin-top: 90px;}
	.content-home h2 {font-size: 2rem; margin-bottom: 0; padding-top: 0; padding-bottom: 0;}
	.content-home p {margin-bottom: 0; padding-bottom: 0;}
	#footer-desktop, .dyno-definition-desktop {display: none;}
	#footer-rwd {display: block; text-align: center;}
	.dyno-definition-rwd {display: block;}
	.content-home + .content-home {margin-top: 50px;}
	footer {margin-top: 100px;}
	#footer-rwd .link-h1 {margin-top: 50px;}
	#footer-rwd .link-h1 {margin-top: 0; font-size: 0.875rem;}
	#footer-rwd .footer-logo {margin-top: 0; margin-bottom : 30px;}
}
