
/*-----------------------------------------------------------------------------*/
/*  global
/*-----------------------------------------------------------------------------*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: 0;
}

html, body {
	height: 100%;
	font-family: Arial, sans-serif;
	margin: 0;
}

/*-----------------------------------------------------------------------------*/
/*  grid
/*-----------------------------------------------------------------------------*/

.container, .all-device {width: 100%; margin-left: auto; margin-right: auto;}
.container.rwd {width: 100%;}
.row {position: relative; width: 100%;}
.row [class^="col"] {float: left; min-height: 0.125rem;}
.row::after {content: ""; display: table; clear: both;}
.col-1, .col-1-sm {width: 10%;}
.col-2, .col-2-sm {width: 20%;}
.col-25, .col-25-sm {width: 25%;}
.col-3, .col-3-sm {width: 30%;}
.col-33, .col-33-sm {width: 33.33%;}
.col-4, .col-4-sm {width: 40%;}
.col-5, .col-5-sm {width: 50%;}
.col-6, .col-6-sm {width: 60%;}
.col-7, .col-7-sm {width: 70%;}
.col-8, .col-8-sm {width: 80%;}
.col-9, .col-9-sm {width: 90%;}
.col-10, .col-10-sm {width: 100%;}

/*-----------------------------------------------------------------------------*/
/*  typography
/*-----------------------------------------------------------------------------*/

.dmmono-light {
	font-family: "DM Mono", monospace;
	font-weight: 300;
	font-style: normal;
}

.dmmono-regular {
	font-family: "DM Mono", monospace;
	font-weight: 400;
	font-style: normal;
}

.dmmono-medium {
	font-family: "DM Mono", monospace;
	font-weight: 500;
	font-style: normal;
}

h1, h2, h3, h4, p, a {
	font-family: "DM Mono", monospace;
	font-weight: 400;
	font-style: normal;
	font-size: 1.125rem;
}

.uppercase {
	text-transform: uppercase;
}

/*-----------------------------------------------------------------------------*/
/*  nav
/*-----------------------------------------------------------------------------*/

.logo {
	position: relative;
	top: -95%;
	margin-left: 80px;
	margin-right: 80px;
	}

.logo img {
	max-width: 120px;
}

/*-----------------------------------------------------------------------------*/
/*  hero video
/*-----------------------------------------------------------------------------*/

#video-section {
	height: 100vh; /* Full viewport height */
}

#fullscreen-video {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#hero-text {
	position: relative;
	top: -80%;
	margin-left: 80px;
	margin-right: 80px;
}

h1 {
	font-size: 15rem;
	color: white;
}

.kern {
	letter-spacing: -20px;
}

#today {
	/*text-align: right;*/
	margin-top: -50px;
	padding-left: 800px;
}

/*-----------------------------------------------------------------------------*/
/*  value props
/*-----------------------------------------------------------------------------*/

.props-container {
	margin-top: -615px;
}

.props-container {
	border-bottom: 1px black solid;
}

.props-container .col-33 {
	border-right: 1px black solid;
	padding-top: 115px;
	padding-bottom: 115px;
}

.props-lastcol.col-33 {
	border-right: none;
}

.props-container p {
	padding-left: 80px;
	padding-right: 80px;
}

.props-desc {
	padding-top: 30px;
}

/*-----------------------------------------------------------------------------*/
/*  team
/*-----------------------------------------------------------------------------*/

.teamintro-container, .team-container {
	border-bottom: 1px black solid;
	background: #f1f3fe;
}
.teamintro-container {
	padding: 80px;
	text-align: center;
}

.teamintro-desc {
	padding-top: 30px;
}

.team-container img {
	max-width: 400px;
	margin-top: 100px;
	margin-bottom: 100px;
}

.team-name {
	padding: 80px 80px 40px 80px;
}

.team-bio {
	padding: 0 160px 80px 160px;
}

/*-----------------------------------------------------------------------------*/
/*  investors
/*-----------------------------------------------------------------------------*/

.investorsintro-container {
	border-bottom: 1px black solid;
	padding: 80px;
	text-align: center;
}

.investors-container {
	border-bottom: 1px black solid;
}

.investors-container img {
	max-width: 400px;
	display: block;
	margin: 0 auto;
}

.investors-container {
	border-bottom: 1px black solid;
}

.investors-container .col-33 {
	border-right: 1px black solid;
	padding-top: 115px;
	padding-bottom: 115px;
}

.investors-lastcol.col-33 {
	border-right: none;
}

/*-----------------------------------------------------------------------------*/
/*  contact
/*-----------------------------------------------------------------------------*/

.contact .col-10 {
	background-image: url("img/contact.png");
	background-repeat: no-repeat;
	background-size: auto;
	min-height: 800px;
}

.contact-desc {
	padding-top: 160px;
	text-align: center;
	color: white;
}

form input {
	margin: 0 auto;
	display: block;
	width: 400px;
	height: 60px;
}

::-ms-input-placeholder { /* Edge 12-18 */
	color: gray;
}

::placeholder {
	color: gray;
}

form #email {
	margin-top: 80px;
	border-bottom: 1px black solid;
}

form #submit {
	margin-top: 40px;
	background: none;
	border: 1px white solid;
	color: white;
	cursor: pointer;
}

input:focus {outline: none;}

input[type=email], input[type=text] {
	padding-left: 20px;
}

/*-----------------------------------------------------------------------------*/
/*  footer
/*-----------------------------------------------------------------------------*/

footer img {
	max-width: 120px;
	margin: 80px;
}

footer a {
	display: block;
	text-align: right;
	margin: 80px;
}

footer a, footer a:hover, footer a:visited {
	color: black;
	text-decoration: none;
}

/*-----------------------------------------------------------------------------*/
/*  responsive design
/*-----------------------------------------------------------------------------*/

@media only screen and (max-width: 1400px) {
	h1 {font-size: 10rem;}
	.props-container {margin-top: -300px;}
	#today {padding-left: 500px;}
}

@media only screen and (max-width: 800px) {
	h1 {font-size: 4rem;}
	.logo img {max-width: 60px;}
	#hero-text {top: -65%;}
	.kern {letter-spacing: -10px;}
	#today {margin-top: -20px; padding-left: 150px;}
	.col-1, .col-2, .col-25, .col-3, .col-33, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10 {width: 100%;}
	.props-container {margin-top: -200px;}
}

