html, body {margin: 0; padding: 0; height: 100%; width: 100%; background: #222222;}
ul {margin: 0; padding: 0; list-style: none; list-style-type: none;}

/*header*/
#header {
  margin: 0; padding: 0; background: #333; height: 68px; width: 100%;
  position: fixed; top: 0; right: 0; z-index: 9;
}
#nav {margin: 20px 0 0 20px;}
#login {margin: 20px 20px 0 0; float: right;}

.rightpanel {
  margin: 10px 0 0 0; padding: 0 0 100px 0; background: #3C4143;
  width: 446px; height: 100%; display: block; z-index: 2;
  position: fixed; clear: both; right: 0; top: 57px;
  -webkit-transform: translate(0,0);
  -moz-transform: translate(0,0);
  -o-transform: translate(0,0);
  -ms-transform: translate(0,0);
  transition: all 1.5s ease;
  overflow: scroll;
}
  .rightpanel-move {right: -446px; overflow: hidden;}

#btn {
  margin: 0; padding: 0; position: fixed; clear: both;
  left: 0; top: 0; background: url("eyes.png") no-repeat 0 0; height: 32px; width: 32px;
  border: none; border-radius: 0; opacity: 0.85; z-index: 9; display: none;
}
#btn:hover {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in 0.2s;
  -moz-transition: opacity 0.3s ease-in 0.2s;
  transition: opacity 0.3s ease-in 0.2s;
}
#btn2 {
  background: #3C4143; margin: 0; padding: 0; position: fixed; clear: both;
  right: 0; top: 68px; background: url("eyes.png") no-repeat 0 0; height: 32px; width: 32px;
  border: none; border-radius: 0; opacity: 0.85; display: none;
}
#btn2:hover {
  opacity: 1; 
  -webkit-transition: opacity 0.3s ease-in 0.2s;
  -moz-transition: opacity 0.3s ease-in 0.2s;
  transition: opacity 0.3s ease-in 0.2s;
}

#heart {color: White;}
#heart.clicked {color: #FC4A50;}

#headimg {width: 100%;}
h1 {margin-left: 20px; color: white; opacity: 0.8; font: 20px/150% Arial, Helvetica, sans-serif;}
h1 a {color: white; opacity: 0.8; font: 20px/150% Arial, Helvetica, sans-serif;}
h2 {margin: -15px 0 0 20px; color: #B3B3B3; font: normal 12px/150% Arial, Helvetica, sans-serif;}
ul {margin-top: 20px;}
ul li {color: white; margin-bottom: 10px; font: 14px/150% Arial, Helvetica, sans-serif;}
#play {margin: 0 10px 0 20px;}
#addto {margin-right: 20px; float: right;}
#chart img {clear: both; display: block; margin: 0 auto 40px;}
a {text-decoration: none;}
.icon-heart {padding-left: 10px;}

/*contribute*/
#contribute {clear: both; margin-top: 70px;}
#contribute h3 {margin-bottom: -10px; opacity: 1; font: 14px/150% Arial, Helvetica, sans-serif;}
#cashamount {margin-top: 30px; margin-left: 20px;}
#cashamount span {
  margin: 0 8px 0 0; padding: 10px 18px; border: solid 1px #666;
  font: 14px/150% Arial, Helvetica, sans-serif; color: #666; background: #EEE;
}
#contributebutton {margin: 30px 20px 0 20px; padding: 15px; background: #FA4242; text-align: center; border-radius: 5px;}
#contributebutton a {color: white; text-decoration: none; font: 20px/150% Arial, Helvetica, sans-serif;}

h3 {margin: 30px 0 0 20px; color: white; opacity: 0.8; font: 18px/150% Arial, Helvetica, sans-serif;}
h4 {margin: 0 0 0 20px; color: #B3B3B3; font: normal 12px/150% Arial, Helvetica, sans-serif;}
p {margin: 15px 0 0 20px; width: 370px; font: 14px/150% Arial, Helvetica, sans-serif; color: white;}
#blank {height: 150px; width: 10px;}

/*playlist*/
.playlistsong {padding: 20px 20px 2px;}
.playlistsong:last-child {margin-bottom: 20px;}

.bandname {margin: 0 0 0 15px; padding-top: 8px; padding-bottom: 2px;}
.bandname span {color: #AAA;}

.pos-rel {position: relative;}
.pos-abs {position: absolute;}
.fill {top:0; right:0; bottom:0; left:0; margin: auto;}
.img {float: left;}
.sq64 {width: 64px; height: 32px;}
.sq64-text {text-align: center; line-height: 32px;}

.db  {display: block;}
.btn-green {color: #fff; background-color: #0e6;}
.btn-green:hover {color: #fff; background-color: #0d5;}
.btn-green:active {box-shadow: inset 0 2px 4px rgba(0,0,0,0.3);}

.bd {overflow: hidden;}
.hi64 {height: 32px;}
.white {color: #fff;}
.bg-dark-gray {background-color: #444;}

/*music player*/
#musicplayer {text-align: center; width: auto; z-index: 9; margin: 10px 20px 20px;}
.musicplayerprogress {width: 100%; margin-top: 30px;}
.pad1 {margin-top: 20px; margin-bottom: 10px;}

.bg-light-gray {background-color: #eee;}
.progress {-webkit-appearance: none; height: 2px;}
.progress::-webkit-progress-bar {-webkit-appearance: none; background-color: #eee;}
.progress::-webkit-progress-value {-webkit-appearance: none;}
.progress-gray::-webkit-progress-value {background-color: #0e6;}
.progress-gray-alt::-webkit-progress-bar {background-color: #eee;}

.dib {display: inline-block;}
.dark-gray {color: #444;}

.tappad {
  font-size: 20px;
  /*min-height: 48px;*/
  line-height: 48px; padding: 0 20px;
}

@media screen and (min-width: 1024px) {
  .grid-1 {width: 390px;}
  .grid-2 {width: 446px;}
}

/*animation*/
h1:hover, h3:hover {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in 0.2s;
  -moz-transition: opacity 0.3s ease-in 0.2s;
  transition: opacity 0.3s ease-in 0.2s;
}
#contributebutton:hover {
  background: #FC4A50;
  -webkit-transition: background 0.3s ease-in 0.2s;
  -moz-transition: background 0.3s ease-in 0.2s;
  transition: background 0.3s ease-in 0.2s;
}
#cashamount span:hover {
  color: #111;
  -webkit-transition: color 0.3s ease-in 0.2s;
  -moz-transition: color 0.3s ease-in 0.2s;
  transition: color 0.3s ease-in 0.2s;
  background: White;
  -webkit-transition: background 0.3s ease-in 0.2s;
  -moz-transition: background 0.3s ease-in 0.2s;
  transition: background 0.3s ease-in 0.2s;
}

/*///////////////////////////////////////////////////////////////////
   Media Query
///////////////////////////////////////////////////////////////////*/

/*980 and down*/
@media screen and (max-width: 980px) {
  .rightpanel {width: 100%; right: -100%; overflow: scroll;}
  .rightpanel-move {right: 0;}
  #headimg {width: 100%;}
  #chart img {width: 80%;}
  p {margin: 15px 20px 20px 20px; width: 90%;}
  #btn {display: block;}
  #btn2 {display: block;}
}

/* ipad only (portrait) */
@media only screen and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
  .rightpanel {width: 100%; right: -100%; overflow: scroll;}
  .rightpanel-move {right: 0;}
  #headimg {width: 100%;}
  #chart img {width: 80%;}
  #btn {display: block;}
  #btn2 {display: block;}
}

/*iphone5 only*/
@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .rightpanel {width: 100%; right: -100%; overflow: scroll;}
  .rightpanel-move {right: 0;}
  #headimg {width: 100%;}
  #chart img {width: 80%;}
  p {margin: 15px 20px 20px 20px; width: 90%;}
  #btn {display: block;}
  #btn2 {display: block;}
}

/*chart.js*/
#donut {width: 428px; margin: -10px auto 0;}
#donuttext1 {font-size: 22px; position: absolute; margin: -100px 0 0 50px; text-align: center; width: 100px;}
#donuttext2 {font-size: 14px; position: absolute; margin: 10px 0 0 50px; text-align: center; width: 100px;}
#linetext0 {font-size: 13px; position: absolute; margin: -155px 0 0 200px; text-align: center; width: 150px;}
#linetext1 {font-size: 14px; position: absolute; margin: 10px 0 0 225px; text-align: center; width: 150px;}

#greenline {font-size: 26px; vertical-align: bottom; color: rgba(29,182,135,1);}
#grayline {font-size: 26px; vertical-align: bottom; padding-left: 20px; color: rgba(180,180,180,1);}

@media screen and (max-width: 445px) {
  #donut {width: 100%; margin: 0 auto;}
  #donuttext1 {width: 100%; margin: -95px auto 0;}
  #donuttext2 {display: none;}
  #linetext0 {width: 100%; margin: -120px auto 0; padding-left: 110px; text-align: left;}
  #linetext1 {width: 100%; margin: 10px auto 0;}
  #doughnutChart {display: block; margin: 0 auto; padding: 0;}
  #introChart {display: block; margin: 0 auto; padding: 0;}
}

/*svg*/
.node {stroke: #fff; stroke-width: 1px; cursor: pointer;}
.link {stroke: #ccc;}
.nodeimg {z-index: -9;}
.nodetextbox {border: none; stroke: 0; z-index: 8;}
.nodetext {
  fill: White; font: 14px/100% Arial, Helvetica, sans-serif;
  border: none; stroke: none; z-index: 9;
}
.node:not(:hover) .nodetext {display: none;}
.node:not(:hover) .nodetextbox {display: none;}