<!DOCTYPE html>
<meta charset="utf-8">
<head>

<link rel="stylesheet" href="../plangular.css"/>
<link rel="stylesheet" href="../mousai.css"/>

<title>Mousai</title>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script type="text/javascript" src="http://d3js.org/d3.v2.js"></script>
<script type="text/javascript" src="http://connect.soundcloud.com/sdk.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular.min.js"></script>
<script type="text/javascript" src="../plangular.js"></script>
<script type="text/javascript" src="../Chart.js"></script>
<script type="text/javascript" src="../modernizr.js"></script>
<script type="text/javascript" src="../effects.js"></script>

<style type="text/css">

/*///////////////////////////////////////////////////////////////////
   Author:                    Jj Moi
   Version:                   6.0.1
///////////////////////////////////////////////////////////////////*/

/*///////////////////////////////////////////////////////////////////
   Teddy Bear-First Approach
///////////////////////////////////////////////////////////////////*/

/*
                                (c).-.(c)    (c).-.(c)
                                 / ^_^ \      / >_< \
                               __\( Y )/__  __\( O )/__
                              (_.-/'-'\-._)(_.-/'-'\-._)
                                 || J ||      || j ||
                               _.' `-' '._  _.' `-' '._
                              (.-./`-'\.-.)(.-./`-'\.-.)
                               `-'     `-'  `-'     `-'
*/

</style>
</head>

<body ng-app="plangular">

<script type="text/javascript">

$(document).ready(function(){
    $('#heart').click(function(){
        $(this).toggleClass('clicked');
    });
});

$(function() {  
    $("#btn").click(function() {  
        $(".rightpanel").toggleClass("rightpanel-move");
    });
});

$(function() {  
    $("#btn2").click(function() {  
        $(".rightpanel").toggleClass("rightpanel-move");
    });
});

var w = window.innerWidth - 446,
    h = window.innerHeight - 5;

    if (window.innerWidth < 981){
        w = window.innerWidth - 5;
    }

var vis = d3.select("body").append("svg:svg")
    .attr("width", w)
    .attr("height", h);

d3.json("../indie.json", function(json) {
    var force = d3.layout.force()
        .nodes(json.nodes)
        .links(json.links)
        .gravity(.05)
        .distance(140)
        .charge(-150)
        .size([w, h])
        .start();

    var link = vis.selectAll("line.link")
        .data(json.links)
        .enter().append("svg:line")
        .attr("class", "link");

    var node = vis.selectAll("g.node")
        .data(json.nodes)
        .enter().append("svg:g")
        .attr("class", "node")
        .call(force.drag);

    force.on("tick", function() {
        link.attr("x1", function(d) {return d.source.x;})
            .attr("y1", function(d) {return d.source.y;})
            .attr("x2", function(d) {return d.target.x;})
            .attr("y2", function(d) {return d.target.y;});

        node.attr("transform", function(d) {
            return "translate(" + d.x + "," + d.y + ")";
        });
    });

    node.append("a")
        .append("rect")
        .attr("class", "nodetextbox")
        .attr("x", 6)
        .attr("y", -30)
        .attr("width", 140)
        .attr("height", 24)
        .style("fill", "#222222")
        .style("fill-opacity", .8)
        .style("stroke-opacity", 1e-6);
        
    node.append("svg:text")
        .attr("class", "nodetext")
        .attr("dx", 12)
        .attr("dy", -14)
        .text(function(d) {return d.name});

    node.append("svg:image")
        .attr("class", "nodeimg")
        .attr("xlink:href", "../node.png")
        .attr("x", -8)
        .attr("y", -8)
        .attr("width", 16)
        .attr("height", 16);

    node.append("a")
        .attr("xlink:href", function(d) {return "http://www.jjmoi.com/mousai/prototype_v6/" + d.name;})
        .append("circle")
        .attr("cx", 0)
        .attr("cy", 0)
        .attr("r", 10)
        .style("fill", "lightsteelblue")
        .style("fill-opacity", 1e-6);

});

    window.onresize = time;
    
    function time() {
      setTimeout(resize, 400);
    };
    
    function resize() {
      location.reload();
    };

</script>

  <div id="header">
    <a href="#"><img id="nav" src="../nav.png" /></a>
    <a href="#"><img id="login" src="../login.png" /></a>
  </div>

  <input type="button" value="" id="btn2"></input>

  <div class="rightpanel">
    <input type="button" value="" id="btn"></input>
    <a href="../profile2.html"><img id="headimg" src="../two.png" /></a>

    <article plangular data-src="'https://soundcloud.com/edec/sets/edec-003'" class="grid-2 bd rounded" id="musicplayer">
      <h1>
        <a href="../profile2.html">{{ playlist.user.username }}</a>
        <i class="fl icon-heart" id="heart"></i>
      </h1>
      <h2 class="">San Francisco</h2>
      <div id="desc">
        <p>We are collaborating with the finest artists in the Bay and we’re at 70% of our album. We are looking forward to finish the album production and music videos editing.</p>
      </div>

      <div class="bd">
        <progress value="{{ currentTime / duration }}" ng-click="seekTo($event)" class="progress progress-gray progress-gray-alt rounded musicplayerprogress">{{ currentTime / duration}}</progress>
      </div>

      <div class="pad1 bd">
        <div class="center">
          <div class="dib">
            <a href="" ng-click="player.previous(playlist)" class="fl white"><i class="icon-previous tappad"></i></a>
            <a href="" ng-click="player.playPlaylist(playlist)" ng-hide="player.tracks == playlist.tracks && player.playing" class="fl white"><i class="icon-play tappad"></i></a>
            <a href="" ng-click="player.pause()" ng-show="player.tracks == playlist.tracks && player.playing" class="fl white"><i class="icon-pause tappad"></i></a>
            <a href="" ng-click="player.next(playlist)" class="fl white"><i class="icon-skip tappad"></i></a>
          </div>
        </div>
      </div>
    </article>

    <article id="donut">
		  <canvas id="doughnutChart" width="200" height="160"></canvas>
		  <p id="donuttext1">35%</p>
		  <p id="donuttext2">$6,000 Goal</p>
		  <canvas id="introChart" width="200" height="160"></canvas>
		  <p id="linetext0">Contribution Stream</p>
		  <p id="linetext1"><span id="greenline">•</span> Total<span id="grayline">•</span> Daily</p>
	 </article>

    <div id="contribute">
      <div id="contributebutton">
        <a href="#">Contribute</a>
      </div>
    </div>

    <div id="blank"></div>
  </div>
  
</body>
</html>